
:root {
  --text-color: #FFF;
}

body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: bisque;
  background-image: url(./img/pexels-sami-anas-5137668.jpg);
  background-size: cover;
  background-position: center;
}

.App {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 50px;
}

.App label, .App .header {
  color: var(--text-color);
  font-weight: bold;
}

.credit {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 0;
  color: var(--text-color);
  opacity: 0.3;
}
