body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: bisque;
  background-image: url(./img/DnD\ 5E\ SCAG\ Cover.jpg);
  background-size: cover;
  background-position: right;
}

.App {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 50px;
}

.App label {
  color: white;
  font-weight: bold;
}

.App .header {
  color: white;
}
